header input {
  width: 340px;
  border: 0;
  padding: 4px 10px;
}

header a {
  color: black;
}

header .vr {
  margin: 7px 30px;
  width: 2px;
}

header hr {
  margin: 0 -10px;
}

header button {
  border: none;
  background-color: transparent;
}

header button i {
  font-size: 20px;
}

.logo {
  width: 150px;
}

@media (min-width:768px) {
  header hr {
    margin: 0;
  }
}